<div class=" mynavbar">
	<a class="tp_head" routerLink="/">
		Hotel.io
	</a>
	<div >
		<form  class="navbar-form">
			<div class="form-group row" style="margin-left: 250px; margin-top: -112px;" >
				<button mat-stroked-button class="search"   style="margin-top: -2px; margin-left: 10px; font-size: 30px; color: aliceblue ; border-left: white solid;
				min-height: 81px;
				padding-left: 18px;
				padding-right: 18px;
				border-right: white solid;
				border-width: 1px;" routerLink="/hotelList">View Hotels</button>
				</div>
		
		  </form>
		
	</div>


	
	<li *ngIf="!loggedin"  >
		<button  mat-stroked-button color="primary" style=" color: azure; height:50px;min-width:70px; font-size: 20px; float: right; margin-top: -102px; margin-right: 10px" routerLink="/account">Account</button>
	</li>
	<li *ngIf="loggedin"  >
		<button  mat-stroked-button color="primary" style=" color: azure; height:50px;min-width:70px; font-size: 20px; float: right; margin-top: -100px; margin-right: 10px" (click)="logout()" >Logout</button>
	</li>
	<li *ngIf="loggedin" >
		<button  mat-stroked-button color="primary" style=" color: azure; height:50px;min-width:70px; font-size: 20px; float: right; margin-top: -115px; margin-right: 130px" routerLink="/myProfile" >My Profile</button>
	</li>

</div>


