<div class="back">
    
    <div>
      <h4>Available Deluxe Rooms = {{no_of_delux_available}} </h4>
      <h4>Available Economical Rooms = {{no_of_economical_available}} </h4>
    </div>


    <form (ngSubmit)="doneBooking()">
    <div class="row" style="padding:20px;">
    <label for="delux">Enter no of Deluxe Room :</label>
    <input class="form-control" type="number" name="delux"  placeholder=" Required no of rooms" [(ngModel)]="selected_delux_no" style="height:30px; margin-left:28px; margin-top:-7px; width: 150px; border-radius: 5px;" required>
    <label for="econ" *ngIf=deluxe_selection_error style="margin-left:10px; color:red" > Required Rooms exceeds Available rooms </label> 
  </div>

    <div class="row" style="padding:20px;">
      <label for="econ">Enter no of Economical Room :</label>
      <input class="form-control" type="number" name="econ"  placeholder=" Required no of rooms" [(ngModel)]="selected_econo_no" style="height:30px; margin-left:5px; margin-top:-7px; width: 150px; border-radius: 5px;" required>
      <label for="econ" *ngIf="economic_selection_error" style="margin-left:10px; color:red" > Required Rooms exceeds Available rooms </label>
    </div>

    <div class="row">
    <mat-form-field class="example-full-width" style="margin-left:20px; width: 100px;">
      <input matInput [matDatepicker]="picker" [min]="today"  name="checkIn"  placeholder="Check-in" [(ngModel)]="checkIn">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>

      
    <mat-form-field class="example-full-width" style="margin-left:20px; width: 100px;">
      <input matInput [matDatepicker]="ll" [min]="checkIn" name="Checkout" placeholder="Check-Out" [(ngModel)]="checkout" >
      <mat-datepicker-toggle matSuffix [for]="ll"></mat-datepicker-toggle>
      <mat-datepicker touchUi #ll></mat-datepicker>
    </mat-form-field>

    
  </div>
  <button mat-raised-button type="submit" style="margin: 30px; width:800px; background-color:palegreen">Book</button>
  <div *ngIf= bookingSucces class="alert alert-success">
    <strong>Check Email</strong> Check confirmation email sent to the provided email.
    <button mat-stroked-button onclick="document.getElementById('id01').style.display='block'" style="background-color:lightseagreen ; margin-left: 450px;" >Booking Recipt</button>

  </div>
</form>
<label *ngIf=!completeform style="color:red;">Fill all data</label>

<div style="padding:0px;">
    <button mat-stroked-button color="primary" routerLink="/hotelList" >Back</button>
    <button mat-stroked-button color="primary" routerLink="/" >Home</button>
  </div>
 

</div>




<div id="id01" class="modal">
  
  <form class="modal-content animate" action="/action_page.php" style="width: 624px;
  margin-top: 236px;
  border-radius: 10px;">
  <div style="padding:15px">
    <h1 >BOOKING Recipt</h1>
    <hr>
    <h3>HOTEL NAME: {{hotel.hotelname}}</h3>
    <hr>
    <h3>USER NAME: {{user.username}}</h3>
    <hr>
    <h3>Room id</h3>
    <div id="rooms" style="padding-left: 30px;">
    <h3 class="row" *ngFor="let rooms of roomarr" >[{{rooms}}]</h3>
    </div>
    <hr>
    <h3>CHECK-IN DATE  : {{checkIn}}</h3>
    <hr>
    <h3>CHECK-OUT DATE : {{checkout}}</h3>
    <hr>
    <h3>BILL : {{bill}}</h3>
    <hr>
    <h3>YOUR BOOKING ID:{{booking_id}}</h3>


  </div>
    
        
     
    <div class="container" style="background-color:#f1f1f1">
      <button mat-stroked-button onclick="document.getElementById('id01').style.display='none'" style="color:red;" >Cancel</button>
    </div>
  </form>
</div>









