<!-- <div style="margin-top:1%; margin-left: 5% padding:10px">
	<mat-card class="example-card" *ngFor="let data of hotelList" style="max-width: 70%;">
		<mat-card-header>
				<mat-card-title-group>
					<div>
					<mat-card-title>{{data.hotelname}}</mat-card-title>
					<mat-card-subtitle>{{data.location}}</mat-card-subtitle>
					</div>
					<img mat-card-lg-image		style="padding: 10px"src="{{data.img}}"  alt="Photo of a Shiba Inu">
      </mat-card-title-group>
			<div style="padding: 10px">
					<ngb-rating [(rate)]="data.rating" [readonly]="!readonly">
						<ng-template let-fill="fill" let-index="index">
							<span class="star" [class.filled]="fill === 100">&#9733;</span>
						</ng-template>
					</ngb-rating>
      </div>



		</mat-card-header>
		<div fxFlex="10px" fxFlexAlign="center">
		<mat-card-content >
			<p>
				The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
				A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
				bred for hunting.
			</p>

		</mat-card-content>
	</div>
		<mat-card-actions>
			<button mat-raised-button (click)="onSelect(data)" color="primary"> BOOK NOW</button>
			<button mat-raised-button  (click)="readonly = !readonly">RATE</button>
		</mat-card-actions>

	</mat-card>

</div>
 -->



<!--


<div  class="grey lighten-2" style="background: lightgrey ; margin:40px; ">


 <div class="container bg-light"  *ngFor="let data of hotelList" style="padding: 10px; box-shadow: 1px 1px 3px; width: 70%;" >
  <div class="col-s12 m7">

    <div class="container">
      <div class="card-imge col-sm-5">
        <img src="{{data.img}}" class="fadeIn" style= "min-width: 400px; min-height: 300px; max-width: 400px; max-height: 300px; margin-left: -30px; object-fit: cover ">
      </div>
      <div class="col-sm-6 " style="margin-left: 35px;">
        <div class="mat-card-content" style="margin-left: 28px;">
          <span class="mat-card-title">{{data.hotelname}}</span>
          <h4 class="mat-card-subtitle">{{data.location}}</h4>
          <h5 class="mat-card-subtitle">Ratings: {{data.rating}}</h5>
          <hr>
          <p >A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.
            </p>
        </div>
        <div class="card-action">
          <div style="margin-left: 70%;">
          </div>
          <button class="btn btn-danger" style="margin-left: 80; margin-top: 50px; font-size: 13px;" (click)="onSelect(data)">Check Price</button>
        </div>
      </div>
    </div>
  </div>




</div>










 -->
 <div class="container">
 <div class="row">
    <div class="col-sm-4" *ngFor="let data of hotelList">
      <div class="card">
          <img class="card-img-top" src="{{data.img}}" alt="Card image cap" style="max-height: 270px; min-height: 270px;"  >
        <div class="card-body">
          <h3 class="card-title">{{data.hotelname}}</h3>
          <h4 class="card-subtitle">{{data.location}}</h4>
          <h5 class="card-subtitle" style="margin-left: 80%;">Rating: {{data.rating}}</h5>
          <hr>
          <p class="card-text" style= "font-size:14px;">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
            </p>
            <button class="btn btn-danger" style="margin-left: 70%; margin-top: 2px; font-size: 13px;" (click)="onSelect(data)" >Check Price</button>
        </div>
      </div>
    </div>
</div>













