
<div class="text-center" style="padding:50px 0" style="font-size:14px;" *ngIf="L_IN">
	<div class="logo">Login</div>
	<!-- Main Form -->
	<div class="login-form-1" style="min-width: 30%; min-height: 100%; -webkit-box-shadow: 10px 6px 38px -26px rgba(0,0,0,1);
  -moz-box-shadow: 10px 6px 38px -26px rgba(0,0,0,1);
  box-shadow: 10px 6px 38px -26px rgba(0,0,0,1);  ">
		<form id="login-form" (ngSubmit)="onlogin()" class="text-left">
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						<label for="lg_username" class="sr-only">Username</label>
						<input type="text" class="form-control" id="lg_username" name="username" [(ngModel)]="credential.username" required="required" placeholder="username" style="font-size: 14px;">
					</div>
					<div class="form-group">
						<label for="lg_password" class="sr-only">Password</label>
						<input type="password" class="form-control" id="lg_password" name="password" [(ngModel)]="credential.password" required="required" placeholder="Password" style="font-size: 14px;">
          </div>
          <div *ngIf="loginError" class="alert alert-danger" role="alert">
            Invalid Email or Password
          </div>

					<div class="form-group login-group-checkbox"></div>
				</div>
        <button type="submit" class="login-button" style="border-color: darkgray;" ><i class="fa fa-chevron-right"></i></button>
			</div>
			<div class="etc-login-form">
				<p>forgot your password? <button class="btn btn-dark" (click)="forgetpassclick()">Click here</button></p>
				<p>new user? <button class="btn btn-outline-success" (click)="signupclick()" >Signup</button></p>
			</div>
    </form>
    <div *ngIf="loading">
    <img   src="../../assets/Dual Ring-1s-200px.svg" width="80px">
    </div>
	</div>
	<!-- end:Main Form -->
</div>

<!-- REGISTRATION FORM -->
<div class="text-center" style="padding:50px 0" style="font-size:14px;" *ngIf="S_UP">
	<div class="logo">register</div>
	<!-- Main Form -->
	<div class="login-form-1" style="min-width: 30%; min-height: 100%; -webkit-box-shadow: 10px 6px 38px -26px rgba(0,0,0,1);
  -moz-box-shadow: 10px 6px 38px -26px rgba(0,0,0,1);
  box-shadow: 10px 6px 38px -26px rgba(0,0,0,1);  " >
		<form id="register-form" (ngSubmit)="onNewAccount()" class="text-left">
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						<label for="reg_username" class="sr-only">Email address</label>
						<input type="text" class="form-control" id="username" name="username" [(ngModel)]="username" required="required" placeholder="username" style="font-size: 14px;">
          </div>
          <div *ngIf="usernameExists" class="alert alert-danger" role="alert">
            Username already taken! try a new one.
          </div>
					<div class="form-group">
						<label for="reg_email" class="sr-only">Email</label>
						<input type="text" class="form-control" id="reg_email" name="email" [(ngModel)]="email" required="required" placeholder="Email" style="font-size: 14px;">
          </div>
          <div *ngIf="emailExists" class="alert alert-danger" role="alert">
            Email already exits! try a new one.
          </div>
					</div>
				<button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
			</div>
			<div class="etc-login-form">
				<p>already have an account? <button class="btn btn-success" (click)="loginclick()" >Login</button></p>
      </div>
      <div *ngIf="loading">
        <img   src="../../assets/Dual Ring-1s-200px.svg" width="80px">
      </div>
      <div class="alert alert-success"  *ngIf="emailSent">
        <strong>Email Sent!</strong> Please validate your email address and update your password info.
      </div>

		</form>
	</div>
	<!-- end:Main Form -->
</div>

<!-- FORGOT PASSWORD FORM -->
<div class="text-center" style="padding:50px 0" style="font-size:14px;" *ngIf="F_PASS">
	<div class="logo">forgot password</div>
	<!-- Main Form -->
	<div class="login-form-1" style="min-width: 30%; min-height: 100%; -webkit-box-shadow: 10px 6px 38px -26px rgba(0,0,0,1);
  -moz-box-shadow: 10px 6px 38px -26px rgba(0,0,0,1);
  box-shadow: 10px 6px 38px -26px rgba(0,0,0,1);  ">
		<form id="forgot-password-form" (ngSubmit)="onForgetPassword()" class="text-left">
			<div class="etc-login-form">
				<p>When you fill in your registered email address, you will be sent instructions on how to reset your password.</p>
			</div>
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						<label for="fp_email" class="sr-only">Email address</label>
            <input type="text" class="form-control" id="fp_email" name="recoverEmail" [(ngModel)]="recoverEmail" required="required" placeholder="Email" style="font-size: 14px;">
            <hr>
					</div>
				</div>
				<button type="submit" class="login-button" style="border-color: darkgray;" ><i class="fa fa-chevron-right" ></i></button>
			</div>
			<div class="etc-login-form">
				<p>already have an account? <button class="btn btn-success" (click)="loginclick()" >Login</button></p>
				<p>new user? <button class="btn btn-outline-success" (click)="signupclick()" >Signup</button></p>
      </div>
      <div *ngIf="loading">
        <img   src="../../assets/Dual Ring-1s-200px.svg" width="80px">
      </div>
      <div class="alert alert-success"  *ngIf="forgetPasswordEmailSent">
        <strong>Email Sent!</strong> Please validate your email address and update your password info.
      </div>
      <div class="alert alert-danger"  *ngIf="emailNotExists">
        <strong>Email Not Exist!</strong> Please enter valid email address.
      </div>
		</form>
	</div>
	<!-- end:Main Form -->
</div>



