
@import url('https://fonts.googleapis.com/css?family=Pacifico');


.welcome{
    font-family: 'Playfair Display SC', serif;
    font-size: 50px;
    color: black;
    text-shadow: 2px 10px 7px rgba(0,0,0,0.3)

}

.btn-lg.round {
    border-radius: 24px;
    
}